/* FONT */
@import url("https://kit.fontawesome.com/e7e352d968.js");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Oswald:wght@200;300;400&display=swap");
/* MISC */
::after
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*Desktop*/
@media (min-width: 1500px) and (max-width: 2100px) {
  .container header.inicioP {
    height: 90vmax; }
  div.container header.inicio div.slogan h1.slogantitle {
    font-size: 75px; }
  div.container header.inicioC div.slogan h1.slogantitle {
    font-size: 80px; }
  div.container header.inicioW div.slogan h1.slogantitle {
    font-size: 80px; }
  div.container header.inicioN div.slogan h1.slogantitle {
    font-size: 80px; }
  div.container header.inicioCon div.slogan h1.slogantitle {
    font-size: 80px; }
  aside.sloganFinal div.contSlogan h1 {
    font-size: 90px; }
  aside.sloganFinal div.contSlogan p {
    font-size: 40px; }
  div.container section.menu h1.varieta {
    font-size: 45px; }
  div.container section.intro div.text h1 {
    font-size: 35px; }
  div.container section.intro div.text p {
    font-size: 25px; }
  div.container section.menu div.forno h1 {
    font-size: 90px; }
  div.container section.menu div.forno p {
    font-size: 40px; }
  div.container div.menu .imgIntro {
    width: 60%; }
  div.container div.menu .imgIntro img {
    width: 100%; }
  div.container section.menu div.galery {
    width: 100%;
    margin-bottom: 100px; }
  div.container section.menu div.galery div.leyenda {
    width: 25%;
    height: 400px;
    margin: auto; }
  div.container section.menu div.galery div.img {
    width: 55%;
    margin-bottom: auto; }
  div.container aside.containerformu div.formulario {
    width: 100%;
    margin: auto; }
  div.container aside.containerformu div.formulario form textarea {
    margin: auto;
    padding: auto; }
  div.container aside.containerformu div.formulario form input {
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none; }
  .socialRed h1 {
    font-size: 45px; }
  .socialRed div {
    height: 45px;
    width: 45px; }
  div.container div.slider ul li h1 {
    font-size: 150px; } }

/*Notebook*/
@media (min-width: 1250px) and (max-width: 1499px) {
  .container header.inicioP {
    height: 100vmax; }
  div.container header.inicio div.slogan h1.slogantitle {
    font-size: 70px; }
  div.container header.inicioC div.slogan h1.slogantitle {
    font-size: 70px; }
  div.container header.inicioW div.slogan h1.slogantitle {
    font-size: 70px; }
  div.container header.inicioN div.slogan h1.slogantitle {
    font-size: 70px; }
  div.container header.inicioCon div.slogan h1.slogantitle {
    font-size: 70px; }
  aside.sloganFinal div.contSlogan h1 {
    font-size: 80px; }
  aside.sloganFinal div.contSlogan p {
    font-size: 35px; }
  div.container section.menu h1.varieta {
    font-size: 40px; }
  section.intro div.text h1 {
    font-size: 30px; }
  section.intro div.text p {
    font-size: 20px; }
  div.container section.menu div.forno h1 {
    font-size: 80px; }
  div.container section.menu div.forno p {
    font-size: 35px; }
  div.container section.menu .galery div.leyenda p {
    font-size: 20px; }
  div.container section.menu div.galery div.img {
    width: 65%; }
  div.container div.menu .imgIntro {
    width: 70%; }
  div.container div.menu .imgIntro img {
    width: 100%; }
  div.socialRed h1 {
    font-size: 40px; }
  div.socialRed div {
    height: 40px;
    width: 40px; }
  div.container section.menu div.galery {
    width: 100%;
    margin-bottom: 50px; }
  div.container section.menu div.galery {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; }
  div.container section.menu div.galery div.img {
    width: 50%;
    margin: auto; }
  div.container section.menu div.galery div.leyenda {
    width: 50%;
    height: 400px;
    margin: auto; }
  div.container aside.containerformu div.formulario {
    width: 100%;
    margin: auto; }
  div.container aside.containerformu div.formulario form textarea {
    margin: auto;
    padding: auto; }
  div.container aside.containerformu div.formulario form input {
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none; }
  div.container div.slider ul li h1 {
    font-size: 100px; }
  div.slider ul li img {
    height: 500px; } }

/*Tablet*/
@media (min-width: 823px) and (max-width: 1250px) {
  div.container header.inicioP {
    height: 115vmax; }
  span.offdisplay {
    display: none; }
  div.container header.inicio div.slogan h1.slogantitle {
    font-size: 60px; }
  div.container header.inicioC div.slogan h1.slogantitle {
    font-size: 60px; }
  div.container header.inicioW div.slogan h1.slogantitle {
    font-size: 60px; }
  div.container header.inicioN div.slogan h1.slogantitle {
    font-size: 60px; }
  div.container header.inicioCon div.slogan h1.slogantitle {
    font-size: 60px; }
  aside.sloganFinal div.contSlogan h1 {
    font-size: 70px; }
  aside.sloganFinal div.contSlogan p {
    font-size: 30px; }
  section.intro div.text h1 {
    font-size: 25px; }
  section.intro div.text p {
    font-size: 15px; }
  div.container section.menu div.forno h1 {
    font-size: 70px; }
  div.container section.menu div.forno p {
    font-size: 30px; }
  div.container section.menu h1.varieta {
    font-size: 35px; }
  div.container div.menu .imgIntro {
    width: 80%; }
  div.container div.menu .imgIntro img {
    width: 100%; }
  div.container section.menu div.galery {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; }
  div.container section.menu div.galery div.img {
    width: 100%;
    margin: auto; }
  div.container section.menu div.galery div.img {
    width: 100%;
    justify-content: center;
    align-items: center; }
  div.container section.menu div.galery div.leyenda {
    width: 50%;
    height: 400px;
    margin: auto; }
  div.container aside.containerformu div.formulario {
    width: 100%;
    margin: auto; }
  div.container aside.containerformu div.formulario form textarea {
    margin: auto;
    padding: auto; }
  div.container aside.containerformu div.formulario form input {
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none; }
  div.container div.slider ul li h1 {
    font-size: 80px; }
  div.socialRed h1 {
    font-size: 35px; }
  div.socialRed div {
    height: 35px;
    width: 35px; } }

/*Mobile*/
@media (min-width: 300px) and (max-width: 823px) {
  div.container header.inicioP {
    height: 145vmax; }
  span.offdisplay {
    display: none; }
  div.container header.inicio div.slogan h1.slogantitle {
    font-size: 35px; }
  div.container header.inicioC div.slogan h1.slogantitle {
    font-size: 35px; }
  div.container header.inicioW div.slogan h1.slogantitle {
    font-size: 35px; }
  div.container header.inicioN div.slogan h1.slogantitle {
    font-size: 35px; }
  div.container header.inicioCon div.slogan h1.slogantitle {
    font-size: 35px; }
  div.logo {
    display: none; }
  div.nav ul {
    padding: 0;
    margin: 1px; }
  div.container section.intro {
    display: flex;
    flex-direction: column;
    background-attachment: inherit; }
  aside.sloganFinal div.contSlogan h1 {
    font-size: 35px; }
  aside.sloganFinal div.contSlogan p {
    font-size: 15px; }
  section.intro div.text h1 {
    font-size: 20px; }
  section.intro div.text p {
    font-size: 15px; }
  div.container section.menu div.forno h1 {
    font-size: 35px; }
  div.container section.menu div.forno p {
    font-size: 20px; }
  div.container section.menu h1.varieta {
    font-size: 25px; }
  div.container section.intro div {
    height: 25vmax;
    background-attachment: scroll; }
  div.socialRed h1 {
    display: none; }
  div.socialRed div {
    height: 50px;
    width: 50px;
    margin: 1px;
    padding: 0; }
  div.rutas ul {
    margin: 0;
    padding: 0; }
  div.container section.menu div.galery {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px; }
  div.container section.menu div.galery div.img {
    width: 250px;
    height: 250px;
    margin: auto; }
  div.container section.menu div.galery div.leyenda {
    width: 50%;
    height: 400px;
    margin: auto; }
  div.container section.menu div.galery div.leyenda h1 {
    font-size: 20px; }
  div.container section.menu div.galery div.leyenda p {
    font-size: 15px; }
  div.container aside.containerformu div.formulario {
    width: 100%;
    margin: auto; }
  div.container aside.containerformu div.formulario form textarea {
    margin: auto;
    padding: auto; }
  div.container aside.containerformu div.formulario form input {
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    border: none; }
  div.container div.slider ul li h1 {
    font-size: 60px; }
  div.container footer {
    height: 35vmax;
    background-attachment: scroll; } }

/* PARTIALS */
body {
  background-color: whitesmoke; }

body::-webkit-scrollbar {
  width: 7px; }

body::-webkit-scrollbar-thumb {
  background-color: #3d003d; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  height: 160vmax;
  margin-left: 0; }

.inicio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../Multimedia/fondos/vinedo.jpg");
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }
  .inicio .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicio .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicio .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1); }
    .inicio .nav li {
      list-style-type: none; }
      .inicio .nav li a {
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .inicio .nav li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
  .inicio .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicio .slogan .slogantitle {
      color: white;
      font-size: 85px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center;
      z-index: 1; }
      .inicio .slogan .slogantitle:hover {
        scale: 200px, 200px;
        transition: 2s;
        font-size: 80px; }

.inicioP {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  height: 55vmax; }
  .inicioP .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicioP .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicioP .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicioP .nav li {
      list-style-type: none; }
      .inicioP .nav li a {
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .inicioP .nav li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
  .inicioP .titleP {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicioP .titleP .title {
      color: white;
      font-size: 75px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center;
      z-index: 1; }
      .inicioP .titleP .title:hover {
        text-shadow: 25px 25px 50px black; }
  .inicioP .fondo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }
    .inicioP .fondo .video {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }

.inicioW {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../../Multimedia/Vinos/vinos-family.jpg");
  height: 47vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3); }
  .inicioW .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicioW .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicioW .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicioW .nav li {
      list-style-type: none; }
    .inicioW .nav li a {
      color: white;
      font-size: 30px;
      text-shadow: 1px 1px 1px white;
      margin: 10px;
      padding: 10px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
  .inicioW .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicioW .slogan .slogantitle {
      color: white;
      font-size: 85px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center;
      z-index: 1; }

.inicioN {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../../Multimedia/fondos/beneficios-de-los-jugos-naturales.jpg");
  height: 40vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3); }
  .inicioN .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicioN .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicioN .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicioN .nav li {
      list-style-type: none; }
      .inicioN .nav li a {
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .inicioN .nav li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
  .inicioN .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicioN .slogan .slogantitle {
      color: white;
      font-size: 85px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center;
      z-index: 1; }

.inicioC {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../../Multimedia/fondos/coffee.jpg");
  height: 47vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3); }
  .inicioC .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicioC .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicioC .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicioC .nav li {
      list-style-type: none; }
      .inicioC .nav li a {
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .inicioC .nav li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
  .inicioC .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicioC .slogan .slogantitle {
      color: white;
      font-size: 75px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center;
      z-index: 1; }

.footerI {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url(../Multimedia/fondos/bar-photocredits-peter.jpg);
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover; }
  .footerI .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px; }
    .footerI .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
      .footerI .socialRed i:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
    .footerI .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
  .footerI div {
    color: white;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    text-align: center; }
  .footerI .rutas {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .footerI .rutas li {
      list-style-type: none;
      justify-content: center;
      align-items: center; }
      .footerI .rutas li a {
        color: white;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .footerI .rutas li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }

.footerP {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url(../../Multimedia/fondos/piso-de-gente-cenando-pizza-con-vino-tinto-familia-o-amigos-por-plano-tomando-y-comiendo-varias-clases-bebiendo-sobre-mesa-172931154.jpg);
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover; }
  .footerP .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px; }
    .footerP .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
      .footerP .socialRed i:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
    .footerP .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
  .footerP div {
    color: white;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    text-align: center; }
  .footerP .rutas {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .footerP .rutas li {
      list-style-type: none;
      justify-content: center;
      align-items: center; }
      .footerP .rutas li a {
        color: white;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .footerP .rutas li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }

.footerW {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url(../../Multimedia/fondos/valle-de-uco.png);
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover; }
  .footerW .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px; }
    .footerW .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
      .footerW .socialRed i:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
    .footerW .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
  .footerW div {
    color: white;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    text-align: center; }
  .footerW .rutas {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .footerW .rutas li {
      list-style-type: none;
      justify-content: center;
      align-items: center; }
      .footerW .rutas li a {
        color: white;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .footerW .rutas li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }

.footerN {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url(../../Multimedia/fondos/jugos.jpg);
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover; }
  .footerN .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px; }
    .footerN .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
      .footerN .socialRed i:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
    .footerN .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
  .footerN div {
    color: white;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    text-align: center; }
  .footerN .rutas {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .footerN .rutas li {
      list-style-type: none;
      justify-content: center;
      align-items: center; }
      .footerN .rutas li a {
        color: white;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .footerN .rutas li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }

.footerC {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url(../../Multimedia/fondos/European-Specialty-Coffee-Market-by-Pointbleu-Design-Blog.jpg);
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover; }
  .footerC .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px; }
    .footerC .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
      .footerC .socialRed i:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
    .footerC .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
    .footerC .socialRed div {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
  .footerC .rutas {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .footerC .rutas li {
      list-style-type: none;
      justify-content: center;
      align-items: center; }
      .footerC .rutas li a {
        color: white;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .footerC .rutas li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }

.footerCon {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 13;
  margin-bottom: 5vmax; }
  .footerCon .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 10px; }
    .footerCon .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
      .footerCon .socialRed i:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
    .footerCon .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
    .footerCon .socialRed div {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
  .footerCon .rutas {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .footerCon .rutas li {
      list-style-type: none;
      justify-content: center;
      align-items: center; }
      .footerCon .rutas li a {
        color: white;
        font-size: 25px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .footerCon .rutas li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }

.menu {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 13; }
  .menu .varieta {
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 13;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 7vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0%;
    margin-right: 0%;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    color: white;
    font-size: 50px;
    text-shadow: 1px 1px 1px white;
    margin: 1px;
    padding: 1px;
    letter-spacing: 2px;
    word-spacing: 4px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-decoration: none;
    margin-top: 0;
    margin-bottom: 10vmax; }
  .menu .galery {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 100%;
    margin: auto;
    justify-content: space-around;
    border-radius: 3px;
    object-fit: cover; }
    .menu .galery .leyenda {
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      font-size: 20px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none;
      display: flex;
      flex-flow: column wrap;
      position: relative;
      height: 500px;
      margin-bottom: 100px;
      justify-content: start;
      align-items: center; }
      .menu .galery .leyenda:hover {
        text-shadow: 25px 25px 50px black;
        box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5);
        transition: 1s;
        border: solid black;
        border-radius: 10px;
        font-size: 22px; }
    .menu .galery .img {
      width: 25%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 500px;
      margin-bottom: 25px; }
      .menu .galery .img img {
        box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5);
        height: 100%;
        object-fit: cover;
        border-radius: 5%; }

/* VIEWS */
.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 13;
  color: black;
  font-size: 35px;
  text-shadow: 1px 1px 1px whitesmoke;
  margin: 1px;
  padding: 1px;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5vmax; }
  .intro .introPizzas {
    background-image: url("../Multimedia/fondos/pizza.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }
  .intro .introWines {
    background-image: url("../Multimedia/fondos/Courtesy_of_Beaucastel_Winery_Beaucastel_Winery.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }
  .intro .introJuiceNatural {
    background-image: url("../Multimedia/fondos/beneficios-de-los-jugos-naturales.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }
  .intro .introCoffe {
    background-image: url("../Multimedia/fondos/iStock-938993594-1000x600.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    object-fit: cover;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }
  .intro .text:hover {
    text-shadow: 10px 10px 20px black;
    transition: 1s; }

.banderaC {
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: #4f4f43;
  height: 100px;
  margin: 0;
  align-items: flex-end; }

.sloganFinal {
  color: black;
  font-size: 100px;
  font-family: 'Ms Madi', cursive;
  font-weight: bold;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13; }
  .sloganFinal:hover {
    text-shadow: 10px 10px 20px black;
    transition: 1s; }
  .sloganFinal p {
    color: black;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    text-align: center; }
    .sloganFinal p:hover {
      text-shadow: 10px 10px 20px black;
      transition: 1s; }

.menu {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 13; }
  .menu .bandera {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13;
    background-image: url(../Multimedia/fondos/Archivo_000.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 100px;
    margin: 0; }
  .menu .forno {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13; }
    .menu .forno:hover {
      text-shadow: 10px 10px 20px black;
      transition: 1s; }
    .menu .forno h1 {
      color: black;
      font-size: 100px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
    .menu .forno p {
      color: black;
      font-size: 50px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
      .menu .forno p:hover {
        text-shadow: 10px 10px 20px black;
        transition: 1s; }
  .menu .imgIntro {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 13;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vmax;
    margin-bottom: 0;
    object-fit: cover; }
    .menu .imgIntro img {
      width: 99%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .menu .imgIntro img:hover {
        transform: scale(1.1, 1);
        transition: 3s;
        box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5); }

.container .menu .banderaW {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: #4b3e58;
  height: 100px;
  margin: 0; }

.container .inicioCon {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 5px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../Multimedia/fondos/brindis.jpg");
  height: 50vmax;
  width: 100%;
  margin: 0;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: cover;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.3); }
  .container .inicioCon .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .container .inicioCon .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .container .inicioCon .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .container .inicioCon .nav li {
      list-style-type: none; }
      .container .inicioCon .nav li a {
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 1px white;
        margin: 10px;
        padding: 10px;
        letter-spacing: 2px;
        word-spacing: 4px;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: bold;
        text-decoration: none; }
      .container .inicioCon .nav li:hover {
        text-shadow: 25px 25px 50px black;
        border: solid white;
        cursor: pointer;
        transition: 1s;
        border-radius: 25px; }
  .container .inicioCon .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .container .inicioCon .slogan .slogantitle {
      color: white;
      font-size: 85px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center;
      z-index: 1; }

.container .containerformu {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 13;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 5px;
  margin-top: 4vmax; }
  .container .containerformu .formulario {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 900px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 5vmax;
    margin-bottom: 5vmax;
    border: solid white;
    border-radius: 10px; }
    .container .containerformu .formulario h2 {
      color: white;
      text-align: center;
      margin: 0;
      font-size: 30px;
      margin-bottom: 20px; }
    .container .containerformu .formulario input, .container .containerformu .formulario textarea, .container .containerformu .formulario select {
      width: 100%;
      margin-bottom: 20px;
      padding: 7px;
      box-sizing: border-box;
      font-size: 17px;
      border: none; }
    .container .containerformu .formulario textarea {
      min-height: 400px;
      max-height: 500px;
      max-width: auto; }
    .container .containerformu .formulario #boton1 {
      background-color: green;
      color: white;
      padding: 20px;
      margin-top: 10px;
      font-size: 25px;
      font-weight: bold;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .container .containerformu .formulario #boton1:hover {
        cursor: pointer; }
    .container .containerformu .formulario #boton2 {
      background-color: yellow;
      color: black;
      padding: 20px;
      font-weight: bold;
      font-size: 25px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }
      .container .containerformu .formulario #boton2:hover {
        cursor: pointer; }

.container .slider {
  width: 100%;
  animation: cambio 20s infinite alternate;
  animation-timing-function: ease-in-out;
  background-color: black;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 13; }
  .container .slider ul {
    padding: 0;
    display: flex;
    width: 400%;
    overflow: hidden; }
    .container .slider ul li {
      list-style: none;
      width: 100%; }
      .container .slider ul li img {
        width: 100%;
        height: 800px;
        object-fit: cover; }
      .container .slider ul li h1 {
        color: white;
        font-size: 200px;
        font-family: 'Ms Madi', cursive;
        font-weight: bold;
        text-align: center;
        width: 100%; }

@keyframes cambio {
  0% {
    margin-left: 0%; }
  20% {
    margin-left: 0%; }
  25% {
    margin-left: -100%; }
  45% {
    margin-left: -100%; }
  50% {
    margin-left: -200%; }
  70% {
    margin-left: -200%; }
  75% {
    margin-left: -300%; }
  100% {
    margin-left: -300%; } }

.menu .banderaN {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: #c5cc00;
  height: 100px;
  margin: 0; }

.container .menu .banderaC {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: #4f4f43;
  height: 100px;
  margin: 0; }
