/* FONT */
@import url("https://kit.fontawesome.com/e7e352d968.js");
@import url("https://fonts.googleapis.com/css2?family=Ms+Madi&family=Oswald:wght@200;300;400&display=swap");
/* MISC */
::after
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.carousel-control-next, .carousel-control-prev {
  bottom: 67rem; }

/* PARTIALS */
.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100vmax; }

.inicio {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../../Multimedia/fondos/vinedo.jpg");
  height: 40vmax;
  width: 100%;
  margin: 10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
  .inicio .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicio .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicio .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicio .nav li {
      list-style-type: none; }
    .inicio .nav li a {
      color: white;
      font-size: 30px;
      text-shadow: 1px 1px 1px white;
      margin: 10px;
      padding: 10px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
  .inicio .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicio .slogan .slogantitle {
      color: white;
      font-size: 60px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
      .inicio .slogan .slogantitle:hover {
        scale: 200px, 200px;
        transition: 2s;
        font-size: 75px; }

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 13; }
  .footer .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 5vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    .footer .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
    .footer .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
    .footer .socialRed div {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }

/*VIEWS*/
.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 40px;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 13;
  color: black;
  font-size: 35px;
  text-shadow: 1px 1px 1px #fafafa;
  margin: 1px;
  padding: 1px;
  letter-spacing: 2px;
  word-spacing: 4px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-decoration: none;
  margin-top: 5vmax; }
  .intro .introPizzas {
    background-image: url("../../Multimedia/fondos/pizza.jpg");
    height: 51vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
  .intro .introWines {
    background-image: url("../../Multimedia/fondos/Courtesy_of_Beaucastel_Winery_Beaucastel_Winery.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
  .intro .introJuiceNatural {
    background-image: url("../../Multimedia/fondos/beneficios-de-los-jugos-naturales.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
  .intro .introCoffe {
    background-image: url("../../Multimedia/fondos/iStock-938993594-1000x600.jpg");
    height: 50vmax;
    width: 100%;
    margin: 5px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
  .intro .text:hover {
    text-shadow: 10px 10px 20px black;
    transition: 1s; }

.sloganFinal {
  color: black;
  font-size: 100px;
  font-family: 'Ms Madi', cursive;
  font-weight: bold;
  text-align: center;
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-color: #fafafa; }
  .sloganFinal:hover {
    text-shadow: 10px 10px 20px black;
    font-size: 75px;
    transition: 1s; }
  .sloganFinal p {
    color: black;
    font-size: 50px;
    font-family: 'Ms Madi', cursive;
    font-weight: bold;
    text-align: center; }
    .sloganFinal p:hover {
      text-shadow: 10px 10px 20px black;
      font-size: 50px;
      transition: 1s; }

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
  height: 100vmax; }

.inicioP {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13; }
  .inicioP .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicioP .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicioP .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicioP .nav li {
      list-style-type: none; }
    .inicioP .nav li a {
      color: white;
      font-size: 30px;
      text-shadow: 1px 1px 1px white;
      margin: 10px;
      padding: 10px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
  .inicioP .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicioP .slogan .slogantitle {
      color: white;
      font-size: 60px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
      .inicioP .slogan .slogantitle:hover {
        scale: 200px, 200px;
        transition: 2s;
        font-size: 75px; }
  .inicioP .fondo {
    position: absolute;
    left: 0;
    top: 0;
    background-color: black;
    z-index: -1;
    display: flex;
    justify-content: center; }

.inicioW {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-gap: 10px;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 13;
  background-image: url("../../Multimedia/Vinos/vinos-family.jpg");
  height: 40vmax;
  width: 100%;
  margin: 10px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
  .inicioW .logo {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2; }
    .inicioW .logo:hover {
      transform: rotate(360deg);
      transition: 2s; }
  .inicioW .nav {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 13;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center; }
    .inicioW .nav li {
      list-style-type: none; }
    .inicioW .nav li a {
      color: white;
      font-size: 30px;
      text-shadow: 1px 1px 1px white;
      margin: 10px;
      padding: 10px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
  .inicioW .slogan {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 12; }
    .inicioW .slogan .slogantitle {
      color: white;
      font-size: 60px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
      .inicioW .slogan .slogantitle:hover {
        scale: 200px, 200px;
        transition: 2s;
        font-size: 75px; }

.menuW {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 10px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 13;
  height: 310vmax; }
  .menuW .home_slider {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 13; }
    .menuW .home_slider div h1 {
      color: black;
      font-size: 45px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
      .menuW .home_slider div h1:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
  .menuW .articleW {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 13; }
    .menuW .articleW p {
      color: black;
      font-size: 50px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none; }
      .menuW .articleW p:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
    .menuW .articleW .luigiBosca {
      background-image: url(../../Multimedia/Vinos/200928-Luigi_Bosca-T1-Malbec-CAM1-b.png);
      width: 1000px;
      height: 1000px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      color: white;
      font-size: 45px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none;
      box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
      .menuW .articleW .luigiBosca h1 {
        color: black; }
      .menuW .articleW .luigiBosca:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
    .menuW .articleW .laperla {
      background-image: url(../../Multimedia/Vinos/200924-Luigi_Bosca-Cabernet_Sauvignon-cam1-copia.png);
      width: 1000px;
      height: 1000px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      color: white;
      font-size: 45px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none;
      box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
      .menuW .articleW .laperla h1 {
        color: black; }
      .menuW .articleW .laperla:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
    .menuW .articleW .lalinda {
      background-image: url(../../Multimedia/Vinos/La+Linda+Malbec-Sq.jpg);
      width: 1000px;
      height: 1000px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      color: white;
      font-size: 45px;
      text-shadow: 1px 1px 1px white;
      margin: 1px;
      padding: 1px;
      letter-spacing: 2px;
      word-spacing: 4px;
      text-align: center;
      font-family: 'Oswald', sans-serif;
      font-weight: bold;
      text-decoration: none;
      box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
      .menuW .articleW .lalinda h1 {
        color: black; }
      .menuW .articleW .lalinda:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
    .menuW .articleW .mosquitaMuerta {
      background-image: url(../../Multimedia/vinos/mosquita-muerta-1500cc11-90e88f21bacd52b9aa16185169150967-480-0.jpg);
      width: 1000px;
      height: 1000px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
      .menuW .articleW .mosquitaMuerta h1 {
        color: black; }
      .menuW .articleW .mosquitaMuerta:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
    .menuW .articleW .streetdog {
      background-image: url(../../Multimedia/Vinos/perrocallejero.jpg);
      width: 1000px;
      height: 1000px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
      .menuW .articleW .streetdog h1 {
        color: black; }
      .menuW .articleW .streetdog:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }
    .menuW .articleW .pispi {
      background-image: url(../../Multimedia/Vinos/pispi.jpg);
      width: 1000px;
      height: 1000px;
      background-size: 100% auto;
      background-repeat: no-repeat;
      box-shadow: 10px 12px 12px 11px rgba(0, 0, 0, 0.2); }
      .menuW .articleW .pispi h1 {
        color: black; }
      .menuW .articleW .pispi:hover {
        text-shadow: 10px 10px 20px black;
        font-size: 55px;
        transition: 1s; }

.footerP {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-gap: 10px;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 13; }
  .footerP .socialRed {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    height: 5vmax;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    opacity: 100%;
    background-size: 100% auto;
    background-repeat: no-repeat; }
    .footerP .socialRed i {
      height: 50px;
      width: 50px;
      color: white; }
    .footerP .socialRed h1 {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
    .footerP .socialRed div {
      color: white;
      font-size: 50px;
      font-family: 'Ms Madi', cursive;
      font-weight: bold;
      text-align: center; }
