*{  margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-weight: bold;}

    .space { height: 25px; }

   


    @media (min-width: 1150px) and ( max-width: 1900px) { 

        header { }



    }

   