 /*Desktop*/
@media  (min-width:1500px) and (max-width: 2100px) {
    .container header.inicioP  {height: 90vmax; }
    div.container header.inicio div.slogan h1.slogantitle  {font-size: 75px;}
    div.container header.inicioC div.slogan h1.slogantitle  {font-size: 80px;}
    div.container header.inicioW div.slogan h1.slogantitle  {font-size: 80px;}
    div.container header.inicioN div.slogan h1.slogantitle  {font-size: 80px;}
    div.container header.inicioCon div.slogan h1.slogantitle  {font-size: 80px;}
    aside.sloganFinal div.contSlogan h1 {  font-size: 90px;}
    aside.sloganFinal div.contSlogan p { font-size: 40px;} 
    div.container section.menu h1.varieta {font-size: 45px;}
    div.container section.intro div.text { h1 {font-size: 35px;} p { font-size: 25px;} }
    div.container section.menu div.forno h1 { font-size: 90px;}
    div.container section.menu div.forno p {font-size: 40px;}
    div.container div.menu .imgIntro  {width: 60%;}
    div.container div.menu .imgIntro img {width: 100%;}
    div.container section.menu div.galery { width: 100%; margin-bottom: 100px;} 
    div.container section.menu div.galery div.leyenda {width: 25% ; height: 400px; margin:auto; }
    div.container section.menu div.galery div.img { width: 55% ; margin-bottom: auto;}
             div.container aside.containerformu div.formulario    {width: 100%; margin: auto;}
             div.container aside.containerformu div.formulario form textarea { margin: auto; padding: auto;}
                div.container aside.containerformu div.formulario form input { margin-bottom: 15px;
                    padding: 5px; box-sizing: border-box; font-size: 15px; border: none;}
                    .socialRed { h1 {font-size: 45px;} div {height: 45px ; width: 45px ;}}
                    div.container div.slider ul li h1 {font-size: 150px;}
    }
  /*Notebook*/
@media (min-width: 1250px) and (max-width: 1499px) {
    .container header.inicioP  {height: 100vmax; }
    div.container header.inicio div.slogan h1.slogantitle  {font-size: 70px;}
    div.container header.inicioC div.slogan h1.slogantitle  {font-size: 70px;}
    div.container header.inicioW div.slogan h1.slogantitle  {font-size: 70px;}
    div.container header.inicioN div.slogan h1.slogantitle  {font-size: 70px;}
    div.container header.inicioCon div.slogan h1.slogantitle  {font-size: 70px;}
        aside.sloganFinal div.contSlogan h1 {  font-size: 80px; }
        aside.sloganFinal div.contSlogan p { font-size: 35px; } 
        div.container section.menu h1.varieta {font-size: 40px;}
          section.intro div.text { h1 {font-size: 30px;} p { font-size: 20px;} }
          div.container section.menu div.forno h1 { font-size: 80px;}
          div.container section.menu div.forno p {font-size: 35px;}
          div.container section.menu .galery div.leyenda p { font-size: 20px;}
          div.container section.menu div.galery div.img { width: 65%;}
          div.container div.menu .imgIntro {width: 70%;}
          div.container div.menu .imgIntro img {width: 100%;}
          div.socialRed { h1 {font-size: 40px;} div {height: 40px ; width: 40px ;}}
          div.container section.menu div.galery { width: 100%; margin-bottom: 50px;}
        div.container section.menu div.galery { width: 100%; justify-content: center; align-items: center; margin-bottom: 100px;} 
        div.container section.menu div.galery div.img { width: 50%; margin: auto;}
        div.container section.menu div.galery div.leyenda { width: 50% ; height: 400px; margin: auto; }
             div.container aside.containerformu div.formulario    {width: 100%; margin: auto;}
             div.container aside.containerformu div.formulario form textarea { margin: auto; padding: auto;}
                div.container aside.containerformu div.formulario form input { margin-bottom: 15px;
                    padding: 5px; box-sizing: border-box; font-size: 15px; border: none;}
                    div.container div.slider ul li h1 {font-size: 100px;}
                    div.slider ul li img  {height: 500px;}        
}
    /*Tablet*/

@media (min-width: 823px) and (max-width: 1250px) {
    div.container header.inicioP  {height: 115vmax; }
    span.offdisplay {display: none;}
    div.container header.inicio div.slogan h1.slogantitle {font-size: 60px;}
    div.container header.inicioC div.slogan h1.slogantitle  {font-size: 60px;}
    div.container header.inicioW div.slogan h1.slogantitle  {font-size: 60px;}
    div.container header.inicioN div.slogan h1.slogantitle  {font-size: 60px;}
    div.container header.inicioCon div.slogan h1.slogantitle  {font-size: 60px;}
        aside.sloganFinal div.contSlogan h1 {  font-size: 70px; }
        aside.sloganFinal div.contSlogan p { font-size: 30px; } 
           section.intro div.text { h1 {font-size: 25px;} p { font-size: 15px;} }
           div.container section.menu div.forno h1 { font-size: 70px;}
           div.container section.menu div.forno p {font-size: 30px;}
           div.container section.menu h1.varieta  {font-size: 35px;}
           div.container section.menu .imgIntro  {width: 80%;}
           div.container section.menu .imgIntro img {width: 100%; height: 100%;}
           div.container section.menu div.galery{ width: 100%; justify-content: center; align-items: center; margin-bottom: 100px;} 
           div.container section.menu div.galery div.img { width: 100% ; margin: auto;}
           div.container section.menu div.galery div.img { width: 100%; justify-content: center; align-items: center; }
           div.container section.menu div.galery div.leyenda { width: 50% ; height: 400px; margin:auto;}
        div.container aside.containerformu div.formulario    {width: 100%; margin: auto;}
        div.container aside.containerformu div.formulario form textarea { margin: auto; padding: auto;}
       div.container aside.containerformu div.formulario form input { margin-bottom: 15px;
           padding: 5px; box-sizing: border-box; font-size: 15px; border: none;} 
           div.container div.slider ul li h1 {font-size: 80px;}
           div.socialRed { h1 {font-size: 35px;} div {height: 35px ; width: 35px ;} }
}
      /*Mobile*/

      @media (min-width: 600px) and (max-width: 823px) {
        div.container header.inicioP  {height: 145vmax; }
        span.offdisplay {display: none;}
        div.container header.inicio div.slogan h1.slogantitle  {font-size: 35px;}
        div.container header.inicioC div.slogan h1.slogantitle  {font-size: 35px;}
        div.container header.inicioW div.slogan h1.slogantitle  {font-size: 35px;}
        div.container header.inicioN div.slogan h1.slogantitle  {font-size: 35px;}
        div.container header.inicioCon div.slogan h1.slogantitle {font-size: 35px;}
        div.logo   {display: none;}
        div.nav { ul { padding: auto; margin: auto;}}
        div.container section.intro { display: flex; flex-direction: column; background-attachment: inherit;}
        aside.sloganFinal div.contSlogan h1 {  font-size: 35px; }
        aside.sloganFinal div.contSlogan p { font-size: 25px; } 
        div.container section.intro {position: relative;height: 400vmax; width: 100%; }
        div.container section.intro div.text {height: 60vmax; width: 100%;}
        div.container section.intro div {  height: 60vmax; background-attachment: scroll;width: 100%; margin: auto; padding: auto;}
        div.container section.menu .imgIntro img {width: 100%; height: 100%;}
        div.container section.intro div.text { h1 {font-size: 25px;} p { font-size: 20px;  } }
        div.container section.menu div.forno h1 { font-size: 35px;}
        div.container section.menu div.forno p {font-size: 20px;}
        div.container section.menu h1.varieta {font-size: 25px;}
        div.socialRed { h1 {display: none;} div {height: 50px ; width: 50px; margin:1px; padding:0;}}
        div.rutas { ul { margin: 0; padding: 0;}}
        div.container section.menu div.galery { width: 100%; justify-content: center; align-items: center; margin-bottom: 100px;} 
        div.container section.menu div.galery div.img { width: 250px; height: 250px; margin: auto;}
        div.container section.menu div.galery div.leyenda { width: 50% ; height: auto; margin: auto; }
        div.container section.menu div.galery div.leyenda h1 { font-size: 20px;}
        div.container section.menu div.galery div.leyenda p { font-size: 15px;}
        div.container aside.containerformu div.formulario  {width: 100%; margin: auto;}
        div.container aside.containerformu div.formulario form textarea { margin: auto; padding:auto;}
           div.container aside.containerformu div.formulario form input { margin-bottom: 15px;
               padding: 5px; box-sizing: border-box; font-size: 15px; border: none;}
                div.container div.slider ul li h1 {font-size: 60px;}
               div.container footer { height: 35vmax; background-attachment: scroll;}
        
        
    }
@media (min-width: 300px) and (max-width: 600px) {
    div.container header.inicioP  {height: 145vmax;}
    span.offdisplay {display: none;}
    div.container header.inicio div.slogan h1.slogantitle  {font-size: 35px;}
    div.container header.inicioC div.slogan h1.slogantitle  {font-size: 35px;}
    div.container header.inicioW div.slogan h1.slogantitle  {font-size: 35px;}
    div.container header.inicioN div.slogan h1.slogantitle  {font-size: 35px;}
    div.container header.inicioCon div.slogan h1.slogantitle {font-size: 35px;}
    div.logo   {display: none;}
    div.nav { ul { padding: auto; margin: auto;}}
    div.container section.intro { display: flex; flex-direction: column; background-attachment: inherit;}
    aside.sloganFinal div.contSlogan h1 {  font-size: 35px; }
    aside.sloganFinal div.contSlogan p { font-size: 25px; } 
    div.container section.intro {position: relative;height: 400vmax; width: 100%;}
    div.container section.intro div.text {height: 50vmax; width: 100%;}
    div.container section.intro div {  height: 50vmax; background-attachment: scroll; width: 100%; margin: auto; padding: auto;}
    div.container section.menu .imgIntro img {width: 100%; height: 100%;}
    div.container section.intro div.text { h1 {font-size: 20px;} p { font-size: 10px;  } }
    div.container section.menu div.forno h1 { font-size: 35px;}
    div.container section.menu div.forno p {font-size: 20px;}
    div.container section.menu h1.varieta {font-size: 25px;}
    div.socialRed { h1 {display: none;} div {height: 50px ; width: 50px; margin:1px; padding:auto;}}
    div.rutas { ul { margin: 0; padding: 0;}}
    div.container section.menu div.galery { width: 100%; justify-content: center; align-items: center; margin-bottom: 100px;} 
    div.container section.menu div.galery div.img { width: 250px; height: 250px; margin: auto;}
    div.container section.menu div.galery div.leyenda { width: 50% ; height: auto; margin: auto; }
    div.container section.menu div.galery div.leyenda h1 { font-size: 20px;}
    div.container section.menu div.galery div.leyenda p { font-size: 15px;}
    div.container aside.containerformu div.formulario  {width: 100%; margin: auto;}
    div.container aside.containerformu div.formulario form textarea { margin: auto; padding:auto;}
       div.container aside.containerformu div.formulario form input { margin-bottom: 15px;
           padding: 5px; box-sizing: border-box; font-size: 15px; border: none;}
            div.container div.slider ul li h1 {font-size: 60px;}
           div.container footer { height: 35vmax; background-attachment: scroll;}
    
    
}
