.footerI { 

    @include grid ( 1, 1 );
    @include gridpos (4, 5, 1, 13);
    @include imgFondoFx (url(../Multimedia/fondos/bar-photocredits-peter.jpg));
  

    .socialRed { @include flex (row, nowrap, space-evenly, center);
               @include separador ();
               margin-bottom: 10px;
              i { @include hw (); color: $color; 
                  &:hover { @include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;
                    } 
                }
              h1 { @include titleSlogan1 (white, 50px);} 
            } 
    
    div {  @include titleSlogan1 (white, 50px); }

    .rutas { background-color: black;
        @include flex (row, nowrap, space-evenly, center);

       
    li {list-style-type: none; justify-content: center; align-items: center;
        a { @include parrafo (white, 25px, 1px 1px 1px white, 10px, 10px);} 
        &:hover {@include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;}
    }
    }
}
.footerP { 

    @include grid ( 1, 1 );
    @include gridpos (4, 5, 1, 13);
    @include imgFondoFx (url(../../Multimedia/fondos/piso-de-gente-cenando-pizza-con-vino-tinto-familia-o-amigos-por-plano-tomando-y-comiendo-varias-clases-bebiendo-sobre-mesa-172931154.jpg));


    .socialRed { @include flex (row, nowrap, space-evenly, center);
               @include separador ();
               margin-bottom: 10px;
              i { @include hw (); color: $color; 
                  &:hover { @include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;
                    } 
                }
              h1 { @include titleSlogan1 (white, 50px);} 
            } 
    
    div {  @include titleSlogan1 (white, 50px); }

    .rutas { background-color: black;
        @include flex (row, nowrap, space-evenly, center);

       
    li {list-style-type: none; justify-content: center; align-items: center;
        a { @include parrafo (white, 25px, 1px 1px 1px white, 10px, 10px);} 
        &:hover {@include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;}
    }
    }

}


.footerW { 

    @include grid ( 1, 1 );
    @include gridpos (4, 5, 1, 13);
    @include imgFondoFx (url(../../Multimedia/fondos/valle-de-uco.png));


    .socialRed { @include flex (row, nowrap, space-evenly, center);
               @include separador ();
               margin-bottom: 10px;
              i { @include hw (); color: $color; 
                  &:hover { @include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;
                    } 
                }
              h1 { @include titleSlogan1 (white, 50px);} 
            } 
    
    div {  @include titleSlogan1 (white, 50px); }

    .rutas { background-color: black;
        @include flex (row, nowrap, space-evenly, center);

       
    li {list-style-type: none; justify-content: center; align-items: center;
        a { @include parrafo (white, 25px, 1px 1px 1px white, 10px, 10px);} 
        &:hover {@include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;}
    }
    }

}


.footerN { 

    @include grid ( 1, 1 );
    @include gridpos (4, 5, 1, 13);
    @include imgFondoFx (url(../../Multimedia/fondos/jugos.jpg));


    .socialRed { @include flex (row, nowrap, space-evenly, center);
               @include separador ();
               margin-bottom: 10px;
              i { @include hw (); color: $color; 
                  &:hover { @include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;
                    } 
                }
              h1 { @include titleSlogan1 (white, 50px);} 
            } 
    
    div {  @include titleSlogan1 (white, 50px); }

    .rutas { background-color: black;
        @include flex (row, nowrap, space-evenly, center);

       
    li {list-style-type: none; justify-content: center; align-items: center;
        a { @include parrafo (white, 25px, 1px 1px 1px white, 10px, 10px);} 
        &:hover {@include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;}
    }
    }

}

    .footerC { 

        @include grid ( 1, 1 );
        @include gridpos (4, 5, 1, 13);
        @include imgFondoFx (url(../../Multimedia/fondos/European-Specialty-Coffee-Market-by-Pointbleu-Design-Blog.jpg));
        
    
        .socialRed { @include flex (row, nowrap, space-evenly, center);
                   @include separador ();
                   margin-bottom: 10px;
                  i { @include hw (); color: $color; 
                      &:hover { @include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;
                        } 
                    }
                  h1 { @include titleSlogan1 (white, 50px);} 
               
        
               div {  @include titleSlogan1 (white, 50px); }

            } 
    
        .rutas { background-color: black;
            @include flex (row, nowrap, space-evenly, center);
    
           
        li {list-style-type: none; justify-content: center; align-items: center;
            a { @include parrafo (white, 25px, 1px 1px 1px white, 10px, 10px);} 
            &:hover {@include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;}
        }
        }
    
    }

    .footerCon { 

        @include grid ( 1, 1 );
        @include gridpos (5, 6, 1, 13);
        margin-bottom: 5vmax;
       
        
        .socialRed { @include flex (row, nowrap, space-evenly, center);
                   @include separador ();
                   margin-bottom: 10px;
                  i { @include hw (); color: $color; 
                      &:hover { @include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;
                        } 
                    }
                  h1 { @include titleSlogan1 (white, 50px);} 
               
        
               div {  @include titleSlogan1 (white, 50px); }
            } 
    
            .rutas { background-color: black;
                @include flex (row, nowrap, space-evenly, center);
   
            li {list-style-type: none; justify-content: center; align-items: center;
                a { @include parrafo (white, 25px, 1px 1px 1px white, 10px, 10px);} 
                &:hover {@include textshadow (); border: solid white; cursor: pointer; transition: 1s; border-radius: 25px;}
            }
        }
    }




