.menu { @include grid ( 1, 1 );
    @include gridpos ( 2, 3, 1, 13);       
    .varieta { @include gridpos (4, 5, 1, 13);
        @include centrado ();
        @include separador ();
        @include parrafo (white, 50px);
        margin-top: 0; margin-bottom: 10vmax;}

    .galery { display: flex;
        width: 90%;
        height: 100%;
        margin: auto;
        justify-content: space-around;
        flex-flow: column wrap;
        position: relative;
        height: 500px;
        margin-bottom: 100px;
        justify-content: start;
        align-items: center;
        border-radius: 3px; 
        object-fit: cover;    
    }
}








