<!DOCTYPE html>

<html lang="es">    
    

  <head>    

    <meta charset="UTF-8">
    <TITle>ANECDOTAS GOURMET & WINES</TITle>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="Shortcut icon" type="image/x-icon" href="./Multimedia/LOGOS/ANECDOTAS.jpg" style="border-radius: 100%;">
    <link rel="stylesheet" href="./CSS/main.css">
    <script src="https://kit.fontawesome.com/e7e352d968.js" crossorigin="anonymous"></script>
    

 </head>

<header class="inicio">
	                    
	             
	                    
    <div class="logo">  <img class="imgChica" src="./Multimedia/LOGOS/ANECDOTAS.jpg" alt="LOGO" style="width: 150px; height: 150px; border-radius: 100%; border-width: 1px; border-color: black; "> </div>
    
    <div class="nav"> 

        <li>
            <ul><a href="#gourmet"> <i class="fa-solid fa-pizza-slice" ></i> <span class="offdisplay"> <br> PIZZAS </span> </a></ul>
          </li>
            
         <li> 
            <ul><a href="#wine"><i class="fa-solid fa-wine-glass"></i><span class="offdisplay"> <br> WINERIES</span></a></ul>
         </li>

           <li>  
               <ul><a href="#juice"><i class="fa-solid fa-glass-water"></i><span class="offdisplay"> <br> NATURAL JUICE</span> </a></ul> 
         </li>
            <li> 
                <ul><a href="#coffee"><i class="fa-solid fa-mug-saucer"></i><span class="offdisplay"> <br> COFFEE</span></a></ul> 
             </li>
         <li> 
             <ul><a href="#promotions"><i class="fa-solid fa-percent"></i><span class="offdisplay"> <br> PROMOTIONS</span></a></ul>
         </li>  
                 
         <li> 
           <ul><a href="./Bootstrap/index.html"><i class="fa-solid fa-location-dot"> </i> <br> LOCATION & CONTACT </a></ul> 
        </li>

    
   
</div>

<div class="slogan"> 


    


    <h1 class="slogantitle"> "Make your self a gift, and share a great moment with those you love" </h1> 
    
    <audio controls autoplay src="./Musica/bensound-thejazzpiano.mp3">


        <source src="./Musica/bensound-thejazzpiano.mp3" type="audio/mp3"> 


    </audio>

    </div>
    
</header> 












</html>