.container { 

    
             .menu {.banderaC 
                      { @include gridpos (1, 2, 1, 13);
                         background-color: rgb(79, 79, 67) ;
                         height: 100px;
                         margin: 0;
                      }
                   }
       }
              