

              .intro {  @include grid ( 2, 4, 40px) ;
                @include gridpos  ( 3, 4, 1, 13);
                @include parrafo (black, 35px, 1px 1px 1px rgb(245, 245, 245));
                margin-top: 5vmax;
             
                
             .introPizzas { @include imgFondoFx2 (url('../Multimedia/fondos/pizza.jpg'), auto, 100% ); @include artShadowFx () ;  }
         
             .introWines { @include imgFondoFx2 (url('../Multimedia/fondos/Courtesy_of_Beaucastel_Winery_Beaucastel_Winery.jpg'), auto, 100% ); @include artShadowFx () ; }
         
             .introJuiceNatural { @include imgFondoFx2 (url('../Multimedia/fondos/beneficios-de-los-jugos-naturales1.jpg'), auto, 100% ); @include artShadowFx () ; }
         
             .introCoffe { @include imgFondoFx2 (url('../Multimedia/fondos/iStock-938993594-1000x600.jpg'), auto, 100% );  @include artShadowFx ( ) ; } 
                
                 .text{ 
             
             &:hover  {  text-shadow: 10px 10px 20px black;
                    transition: 1s; } }
              }

              .banderaC 
              { @include gridpos (5, 6, 1, 13);
                 background-color: rgb(79, 79, 67) ;
                 height: 100px;
                 margin: 0;
                 align-items: flex-end;
              }
        .sloganFinal {  @include titleSlogan1 (black, 100px) ;
               @include gridpos ( 2, 2, 1, 13,) ; 
              

               &:hover {  text-shadow: 10px 10px 20px black;
                   transition: 1s; }
               p {  @include titleSlogan1 (black, 50px);
                  &:hover  {  text-shadow: 10px 10px 20px black;
                     transition: 1s; }
                  }
    
         }
    
    