
             .menu {.banderaN 
                      { @include gridpos (1, 2, 1, 13);
                         background-color: rgb(197, 204, 0) ;
                         height: 100px;
                         margin: 0;
                      }
                   }
       
              