.container { 


         .menu {.banderaW 
                  { @include gridpos (1, 2, 1, 13);
                     background-color: rgb(75, 62, 88) ;
                     height: 100px;
                     margin: 0;
                  }
               }
   }
          